<a href="https://colab.research.google.com/github/Sanhith30/Data-Science-And-ML-Projects/blob/main/Hyderabad_House_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [264]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.8.3)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)

In [265]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [266]:
!kaggle datasets download -d thedevastator/breaking-the-myths-of-real-estate-market

Dataset URL: https://www.kaggle.com/datasets/thedevastator/breaking-the-myths-of-real-estate-market
License(s): CC0-1.0
breaking-the-myths-of-real-estate-market.zip: Skipping, found more recently modified local copy (use --force to force download)

In [267]:
from zipfile import ZipFile
dataset = '/content/breaking-the-myths-of-real-estate-market.zip'

with ZipFile(dataset,'r') as zip:
  zip.extractall()
  print('The dataset is extracted')

The dataset is extracted

In [268]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [269]:
data=pd.read_csv('/content/Hyderabad_House_Data.csv')

In [270]:
actual_data = data.copy()
display(actual_data.head(10))

,Unnamed: 0,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
0,0,3 BHK Builder Floor,2,Furnished,Bachelors/Family,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,1,3 BHK Apartment,2,Semi-Furnished,Family,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,2,1 BHK Builder Floor,Immediately,Furnished,Bachelors/Family,read more,"18,000",Gachibowli
3,3,3 BHK Apartment,Immediately,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
4,4,3 BHK Apartment,2,Semi-Furnished,Family,1580 sqft,"23,000",Raghavendra Colony kondapur
5,5,3 BHK Apartment,2,Furnished,Bachelors/Family,2600 sqft,"50,000","Banjara Darwaja, Golconda Fort"
6,6,3 BHK Service Apartment,1,Semi-Furnished,Bachelors/Family,1350 sqft,"32,000","Mohans Sai Signature, Nanakramguda"
7,7,Studio Apartment,1,Furnished,Bachelors/Family,read more,"13,000",Gowlidoddy
8,8,3 BHK Apartment,2,Furnished,Bachelors/Family,1700 sqft,"35,000","Somajiguda, NH"
9,9,3 BHK Service Apartment,1,Unfurnished,Family,1150 sqft,"11,000",Kapra

In [271]:
studio_apartment_rows = actual_data[actual_data['Bedrooms'].str.contains('Studio Apartment', na=False)]
apartment_rows = actual_data[actual_data['Bedrooms'].str.contains('Apartment', na=False)]

print("Rows with 'Studio Apartment' in Bedrooms:")
display(studio_apartment_rows)

print("\nRows with 'Apartment' in Bedrooms:")
display(apartment_rows)

Rows with 'Studio Apartment' in Bedrooms:

,Unnamed: 0,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
7,7,Studio Apartment,1,Furnished,Bachelors/Family,read more,"13,000",Gowlidoddy
110,110,Studio Apartment,Main Road,Furnished,Bachelors/Family,read more,"36,000",Kavuri Hills
138,138,Studio Apartment,3,Unfurnished,Bachelors/Family,read more,"18,000",Gowlidoddy
191,191,Studio Apartment,2,Semi-Furnished,Bachelors,read more,"42,000",Aparna Serene Park
211,211,Studio Apartment,1,Semi-Furnished,Bachelors,read more,"10,000","Kukatpally Housing Board Colony, NH"
460,460,Studio Apartment,East,Furnished,Family,read more,"25,000",Kondapur
697,697,Studio Apartment,From Nov '19,Furnished,Bachelors/Family,NaN,"20,000",Rajarajeshwari Nagar
711,711,Studio Apartment,1,Furnished,Bachelors/Family,NaN,"6,500",KPHB
723,723,Studio Apartment,West,Furnished,Bachelors/Family,read more,"8,000","Hafeezpet, NH"
788,788,\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,South,Unfurnished,Bachelors/Family,NaN,"\t \t\t\t \t \t\t\t20,000...",\t\t\t\t\t\t\t\t\t
795,795,\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,Main Road,Unfurnished,Bachelors,NaN,"\t \t\t\t \t \t\t\t5,000 ...",\t\t\t\t\t\t\t\t\t \t\t\t\t\t\t\t\t \t\t\t\t ...
1010,1010,\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,North,Semi-Furnished,Bachelors/Family,read more,"\t \t\t\t \t \t\t\t8,500 ...",\t\t\t\t\t\t\t\t\t \t\t\t\t\t\t\t\t \t\t\t\t ...
1144,1144,Studio Apartment,Immediately,Furnished,Bachelors/Family,read more,"8,000",Telecom Nagar

Rows with 'Apartment' in Bedrooms:

,Unnamed: 0,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
1,1,3 BHK Apartment,2,Semi-Furnished,Family,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
3,3,3 BHK Apartment,Immediately,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
4,4,3 BHK Apartment,2,Semi-Furnished,Family,1580 sqft,"23,000",Raghavendra Colony kondapur
5,5,3 BHK Apartment,2,Furnished,Bachelors/Family,2600 sqft,"50,000","Banjara Darwaja, Golconda Fort"
6,6,3 BHK Service Apartment,1,Semi-Furnished,Bachelors/Family,1350 sqft,"32,000","Mohans Sai Signature, Nanakramguda"
...,...,...,...,...,...,...,...,...
1166,1166,2 BHK Apartment,1,Unfurnished,Family,900 sqft,"15,000",KPHB Road
1167,1167,1 BHK Apartment,1,Semi-Furnished,Bachelors/Family,East Facing Property,"10,000","Miyapur, NH"
1168,1168,3 BHK Apartment,1,Unfurnished,Bachelors,1515 sqft,"14,000","Pragathi Nagar, Kukatpally"
1169,1169,3 BHK Apartment,From Nov '19,Family,3,1500 sqft,"16,000","Habsiguda, NH"
1170,1170,2 BHK Apartment,2,Semi-Furnished,Bachelors/Family,1100 sqft,"12,000","Umas Aadya and Arha Mensions, Kukatpally, NH"

In [272]:
data = data.drop('Unnamed: 0', axis=1)

In [273]:
data

,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
0,3 BHK Builder Floor,2,Furnished,Bachelors/Family,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,3 BHK Apartment,2,Semi-Furnished,Family,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,1 BHK Builder Floor,Immediately,Furnished,Bachelors/Family,read more,"18,000",Gachibowli
3,3 BHK Apartment,Immediately,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
4,3 BHK Apartment,2,Semi-Furnished,Family,1580 sqft,"23,000",Raghavendra Colony kondapur
...,...,...,...,...,...,...,...
1166,2 BHK Apartment,1,Unfurnished,Family,900 sqft,"15,000",KPHB Road
1167,1 BHK Apartment,1,Semi-Furnished,Bachelors/Family,East Facing Property,"10,000","Miyapur, NH"
1168,3 BHK Apartment,1,Unfurnished,Bachelors,1515 sqft,"14,000","Pragathi Nagar, Kukatpally"
1169,3 BHK Apartment,From Nov '19,Family,3,1500 sqft,"16,000","Habsiguda, NH"
1170,2 BHK Apartment,2,Semi-Furnished,Bachelors/Family,1100 sqft,"12,000","Umas Aadya and Arha Mensions, Kukatpally, NH"

In [274]:
for col in data.columns:
  display(data[col].value_counts())

Bedrooms
3 BHK Apartment                                                                                                                                                             479
2 BHK Apartment                                                                                                                                                             337
2 BHK Builder Floor                                                                                                                                                          78
3 BHK Builder Floor                                                                                                                                                          51
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t2 BHK Apartment\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t              40
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t3 BHK Apartment\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t              37
1 BHK Apartment                                                                                                                                                              33
1 BHK Builder Floor                                                                                                                                                          20
4 BHK Apartment                                                                                                                                                              16
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t2 BHK Builder Floor\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t          16
Studio Apartment                                                                                                                                                             10
1 BHK Penthouse                                                                                                                                                               8
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t1 BHK Apartment\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t               7
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t3 BHK Builder Floor\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t           7
3 BHK Service Apartment                                                                                                                                                       6
2 BHK Penthouse                                                                                                                                                               5
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t1 BHK Builder Floor\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t           4
4 BHK Builder Floor                                                                                                                                                           3
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tStudio Apartment\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t              3
2 BHK Service Apartment                                                                                                                                                       2
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t2 BHK Penthouse\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t               2
4 BHK Penthouse                                                                                                                                                               1
Apartment                                                                                                                                                                     1
5 BHK Apartment                                                                                                                                                               1
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t3 BHK Service Apartment\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t       1
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t10 BHK Service Apartment\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t      1
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t4 BHK Builder Floor\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t           1
\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t1 BHK Penthouse\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t            \t               1
Name: count, dtype: int64

Bathrooms
2                                                                                                                                                                   391
1                                                                                                                                                                   381
Immediately                                                                                                                                                         106
3                                                                                                                                                                   101
East                                                                                                                                                                 56
\t\t\t\t\t\t\tImmediately\t\t\t                                                                                                                                      24
North                                                                                                                                                                19
West                                                                                                                                                                 19
Main Road                                                                                                                                                            12
From Nov '19                                                                                                                                                         12
4                                                                                                                                                                     7
North - East                                                                                                                                                          6
Garden/Park                                                                                                                                                           3
1 Covered                                                                                                                                                             3
South                                                                                                                                                                 3
North - West                                                                                                                                                          2
From Oct '19                                                                                                                                                          1
5                                                                                                                                                                     1
Same Premise                                                                                                                                                          1
Garden/Park, Main Road                                                                                                                                                1
\t\t\t            \t\t\t\t            \t\t\t\t\t            \t\t\tSame Premise\t\t\t            \t\t\t\t\t            \t\t\t\t\t            \t\t\t\t                  1
Name: count, dtype: int64

Furnishing
Semi-Furnished      622
Unfurnished         334
Furnished           186
Bachelors/Family     24
Family                4
Immediately           1
Name: count, dtype: int64

Tennants
Bachelors/Family    694
Bachelors           274
Family              174
2                    17
3                     9
1                     2
Name: count, dtype: int64

Area
read more    76
1200 sqft    67
1000 sqft    55
1800 sqft    43
1100 sqft    38
             ..
1335 sqft     1
1325 sqft     1
1868 sqft     1
1480 sqft     1
1515 sqft     1
Name: count, Length: 285, dtype: int64

Price
15,000                                                              85
25,000                                                              64
30,000                                                              61
18,000                                                              51
20,000                                                              50
                                                                    ..
           \t \t\t\t           \t \t\t\t21,000           \t \t\t     1
           \t \t\t\t           \t \t\t\t14,500           \t \t\t     1
           \t \t\t\t           \t \t\t\t40,000           \t \t\t     1
           \t \t\t\t           \t \t\t\t35,000           \t \t\t     1
           \t \t\t\t           \t \t\t\t9,250           \t \t\t      1
Name: count, Length: 111, dtype: int64

Locality
Attapur                                                                  22
Kondapur                                                                 17
My Home Avatar, Narsingi, Outer Ring Road                                17
Nizampet                                                                 16
Gachibowli, Outer Ring Road                                              15
                                                                         ..
East Oak Luxury Apartments, Pocharam, NH                                  1
Ashoka Liviano, P Janardhan Reddy Nagar, Gachibowli, Outer Ring Road      1
Manasa Vensa Ashraya, Saroornagar, NH                                     1
TNR Sulakshna, LB Nagar, NH                                               1
Vajras Jasmine County                                                     1
Name: count, Length: 637, dtype: int64

In [275]:
data['Bedrooms'] = data['Bedrooms'].replace('Studio Apartment', '1', regex=True)
data['Bedrooms'] = data['Bedrooms'].str.replace(r'[^\d]', '', regex=True)
data['Bedrooms'] = pd.to_numeric(data['Bedrooms'], errors='coerce')
data.dropna(subset=['Bedrooms'], inplace=True)
display(data['Bedrooms'].value_counts())

Bedrooms
3.0     581
2.0     480
1.0      86
4.0      21
5.0       1
10.0      1
Name: count, dtype: int64

In [276]:

non_numeric_bathroom_rows = actual_data[pd.to_numeric(actual_data['Bathrooms'], errors='coerce').isna()]
display(non_numeric_bathroom_rows)

,Unnamed: 0,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
2,2,1 BHK Builder Floor,Immediately,Furnished,Bachelors/Family,read more,"18,000",Gachibowli
3,3,3 BHK Apartment,Immediately,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
24,24,3 BHK Apartment,North,Unfurnished,Bachelors/Family,1200 sqft,"13,000","Chatta Bazaar, Pathar Gatti"
26,26,2 BHK Builder Floor,Immediately,Furnished,Bachelors/Family,1100 sqft,"45,000",Hitech City
35,35,3 BHK Builder Floor,East,Semi-Furnished,Bachelors/Family,East Facing Property,"27,000",Kondapur
...,...,...,...,...,...,...,...,...
1144,1144,Studio Apartment,Immediately,Furnished,Bachelors/Family,read more,"8,000",Telecom Nagar
1151,1151,2 BHK Apartment,NaN,Bachelors/Family,2,1200 sqft,"15,000","Punjagutta, NH"
1153,1153,2 BHK Apartment,NaN,Bachelors/Family,2,1100 sqft,"14,000","Chandanagar, NH"
1156,1156,3 BHK Apartment,East,Semi-Furnished,Family,1600 sqft,"21,000","Lakshmi Royal Castle, Nallagandla, Serilingam..."
1169,1169,3 BHK Apartment,From Nov '19,Family,3,1500 sqft,"16,000","Habsiguda, NH"

In [277]:
data['Bedrooms'].isnull().sum()

np.int64(0)

In [278]:
data['Bathrooms'] = data['Bathrooms'].astype(str).str.replace(r'[^\d]', '', regex=True)
data['Bathrooms'] = pd.to_numeric(data['Bathrooms'], errors='coerce')
display(data['Bathrooms'].value_counts())

Bathrooms
2.0     391
1.0     384
3.0     101
19.0     13
4.0       7
5.0       1
Name: count, dtype: int64

In [279]:
data=data[data['Bathrooms'] != 19]

In [280]:
display(data['Bathrooms'].isnull().sum())
display(data['Bathrooms'].value_counts())

np.int64(273)

Bathrooms
2.0    391
1.0    384
3.0    101
4.0      7
5.0      1
Name: count, dtype: int64

In [281]:
data['Bathrooms'] = data.apply(lambda row: row['Bedrooms'] if pd.isnull(row['Bathrooms']) else row['Bathrooms'], axis=1)

/tmp/ipython-input-716608173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Bathrooms'] = data.apply(lambda row: row['Bedrooms'] if pd.isnull(row['Bathrooms']) else row['Bathrooms'], axis=1)

In [282]:
display(data['Bathrooms'].isnull().sum())

np.int64(0)

In [283]:
data

,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
0,3.0,2.0,Furnished,Bachelors/Family,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,3.0,2.0,Semi-Furnished,Family,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,1.0,1.0,Furnished,Bachelors/Family,read more,"18,000",Gachibowli
3,3.0,3.0,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
4,3.0,2.0,Semi-Furnished,Family,1580 sqft,"23,000",Raghavendra Colony kondapur
...,...,...,...,...,...,...,...
1165,1.0,1.0,Unfurnished,Bachelors/Family,East Facing Property,"10,500","Lingampally-Serilingampally, NH"
1166,2.0,1.0,Unfurnished,Family,900 sqft,"15,000",KPHB Road
1167,1.0,1.0,Semi-Furnished,Bachelors/Family,East Facing Property,"10,000","Miyapur, NH"
1168,3.0,1.0,Unfurnished,Bachelors,1515 sqft,"14,000","Pragathi Nagar, Kukatpally"
1170,2.0,2.0,Semi-Furnished,Bachelors/Family,1100 sqft,"12,000","Umas Aadya and Arha Mensions, Kukatpally, NH"

In [284]:
desired_furnishing_values = ['Unfurnished', 'Semi-Furnished', 'Furnished']
data = data[data['Furnishing'].isin(desired_furnishing_values)]
display(data['Furnishing'].value_counts())

Furnishing
Semi-Furnished    615
Unfurnished       334
Furnished         183
Name: count, dtype: int64

In [285]:
data

,Bedrooms,Bathrooms,Furnishing,Tennants,Area,Price,Locality
0,3.0,2.0,Furnished,Bachelors/Family,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,3.0,2.0,Semi-Furnished,Family,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,1.0,1.0,Furnished,Bachelors/Family,read more,"18,000",Gachibowli
3,3.0,3.0,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
4,3.0,2.0,Semi-Furnished,Family,1580 sqft,"23,000",Raghavendra Colony kondapur
...,...,...,...,...,...,...,...
1165,1.0,1.0,Unfurnished,Bachelors/Family,East Facing Property,"10,500","Lingampally-Serilingampally, NH"
1166,2.0,1.0,Unfurnished,Family,900 sqft,"15,000",KPHB Road
1167,1.0,1.0,Semi-Furnished,Bachelors/Family,East Facing Property,"10,000","Miyapur, NH"
1168,3.0,1.0,Unfurnished,Bachelors,1515 sqft,"14,000","Pragathi Nagar, Kukatpally"
1170,2.0,2.0,Semi-Furnished,Bachelors/Family,1100 sqft,"12,000","Umas Aadya and Arha Mensions, Kukatpally, NH"

In [286]:
undesired_tennants_values = ['2', '3', '1']
data = data[~data['Tennants'].isin(undesired_tennants_values)]

display(data['Tennants'].value_counts())

Tennants
Bachelors/Family    684
Bachelors           274
Family              174
Name: count, dtype: int64

In [287]:
display(data['Tennants'].isnull().sum())

np.int64(0)

In [288]:
data = data.rename(columns={'Area': 'Area in sqft'})

In [289]:
data['Area in sqft'] = data['Area in sqft'].astype(str).str.replace(r'[^\d]', '', regex=True)
data['Area in sqft'] = pd.to_numeric(data['Area in sqft'], errors='coerce')
display(data['Area in sqft'].isnull().sum())

np.int64(130)

In [290]:
data['Area in sqft'] = data.groupby('Bedrooms')['Area in sqft'].transform(lambda x: x.fillna(x.mean()))
display(data['Area in sqft'].isnull().sum())

np.int64(0)

In [291]:
data['Price'] = data['Price'].astype(str).str.replace(r'[^\d]', '', regex=True)
data['Price'] = pd.to_numeric(data['Price'], errors='coerce')
display(data['Price'].isnull().sum())

np.int64(0)

In [292]:
data

,Bedrooms,Bathrooms,Furnishing,Tennants,Area in sqft,Price,Locality
0,3.0,2.0,Furnished,Bachelors/Family,1800.0,34000,"Bhagyalaxmi Nagar, Kavadiguda"
1,3.0,2.0,Semi-Furnished,Family,2500.0,45000,"Gachibowli, Outer Ring Road"
2,1.0,1.0,Furnished,Bachelors/Family,1.0,18000,Gachibowli
3,3.0,3.0,Furnished,Bachelors/Family,2160.0,40000,"Moosapet, NH"
4,3.0,2.0,Semi-Furnished,Family,1580.0,23000,Raghavendra Colony kondapur
...,...,...,...,...,...,...,...
1165,1.0,1.0,Unfurnished,Bachelors/Family,1.0,10500,"Lingampally-Serilingampally, NH"
1166,2.0,1.0,Unfurnished,Family,900.0,15000,KPHB Road
1167,1.0,1.0,Semi-Furnished,Bachelors/Family,1.0,10000,"Miyapur, NH"
1168,3.0,1.0,Unfurnished,Bachelors,1515.0,14000,"Pragathi Nagar, Kukatpally"
1170,2.0,2.0,Semi-Furnished,Bachelors/Family,1100.0,12000,"Umas Aadya and Arha Mensions, Kukatpally, NH"

ValueError: invalid literal for int() with base 10: 'Bachelors/Family'